.jumbotron{
	background-color: black;
}

.display-4{
  text-align: center;
  color: green;
  font-family: courier new;
  font-size: 450%;
  font-weight: bold;
}

.lead{
  text-align: center;
  color: grey;
  font-family: courier new;
  font-size: 100%;  
}

body{
    background-color: black;   
}

.card{
    background-color: black;
}

.card-text{
    color: green;
}

.card-title{
    color: white;
}

.title{
    color:white;

}

.footer-copyright{
    color:black;
}

.font-weight-bold{
    color:Black;
}

.list-unstyled{
    color:white;
}

p.text{
    color:white;
}

.page-footer{
    background-color:white;
}

