

.display-4{
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  font-family: courier new;
  font-size: 450%;
  font-weight: bold;
}

.lead{
  text-align: center;
  color: grey;
  font-family: courier new;
  font-size: 100%;  
}

body{
    background-color: black;   
}

.card{
    background-color: white;
}

.card-text{
    color: white;
    text-align: center;
}

.card-title{
    color: white;
}

.title{
    color:white;
    text-align: center;

}

.footer-copyright{
    color:black;
}

.font-weight-bold{
    color:Black;
}

.list-unstyled{
    color:white;
}

p.text{
    color:white;
}

.page-footer{
    background-color:white;
}

.jumbotron{
    background-image: url("hack.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


